.info {
    padding: 50px;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 100%;
    height: $info-height;
    z-index: 0;
    pointer-events: none;
    .info__picture-container {
        height: 200px;
        width: 200px;
        border: 1px solid $primary;
        overflow: hidden;
        margin-right: 20px;
        .info__picture {
            height: 100%;
            width: 100%
        }

        &.round {
            border-radius: 50%;
        }
    }

    .info__header {
        display: inline-block;
        font-weight: 700;
        font-size: 3rem;
        pointer-events: all;
    }
    .info__text {
        pointer-events: all;
    }
}