$primary: #57B560;
$link: #57B560;
$info: #57B560;
$success: #57B560;
$warning: #ffd900;
$danger: #ff0000;
$dark: #121212;
$text: #FAFAFA;
$dark-text: #A0A0A0;

$dark-gray: $dark;
$gray: #181818;
$light-gray: #282828;

$background: $gray;
$background-dark: $dark;

$info-height: 320px;
$nav-height: 65px;